<!-- ./templates/crete_event.html -->

{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Create New Event</h2>
    <form method="post">
        <div class="mb-3">
            <label class="form-label" for="title">Title:</label>
            <input class="form-control" tabindex="0" type="text" id="title" name="title" placeholder="Enter Title" required><br>
        </div>
        <div class="mb-3">
            <label class="form-label" for="date">Date:</label>
            <input class="form-control" tabindex="0" type="date" id="date" name="date" placeholder="Enter Date" required><br>
        </div>
        <div class="mb-3">
            <label class="form-label" for="location">Location:</label>
            <input class="form-control" tabindex="0" type="text" id="location" name="location" placeholder="Enter Location" required><br>
        </div>
        <div class="mb-3">
            <label class="form-label" for="description">Description:</label>
            <textarea class="form-control" tabindex="0" id="description" name="description" placeholder="Enter Description" required></textarea><br>
        </div>
        <!-- <div class="mb-3">
            <label class="form-label" for="posted_by">Posted By:</label>
            <input class="form-control" tabindex="0" type="text" id="posted" name="posted_by" placeholder="Enter Name" required><br>
        </div> -->
        <button class="btn btn-primary" tabindex="0" type="submit">Create Event</button>
    </form>
</div>
{% endblock %}
