<!-- ./templates/edit_mentorship.html -->
{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center text-primary">Edit Mentorship</h2>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <form method="post">
                <div class="mb-3">
                    <label class="form-label" for="mentor_name">Mentor Name:</label>
                    <input class="form-control" tabindex="0" type="text" id="mentor_name" name="mentor_name" value="{{ mentorship.mentor_name }}" placeholder="Enter Mentor Name" required><br>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="mentee_name">Mentee Name:</label>
                    <input class="form-control" tabindex="0" type="text" id="mentee_name" name="mentee_name" value="{{ mentorship.mentee_name }}" placeholder="Enter Mentee Name" required><br>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="details">Details:</label>
                    <textarea class="form-control" tabindex="0" id="details" name="details" placeholder="Enter Details" required>{{ mentorship.details }}</textarea><br>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="contact_info">Contact Info:</label>
                    <input class="form-control" tabindex="0" type="text" id="contact_info" name="contact_info" value="{{ mentorship.contact_info }}" placeholder="Enter Contact Info" required><br>
                </div>
                <!-- <div class="mb-3"></div>
                    <label class="form-label" for="posted_by">Posted By:</label>
                    <input class="form-control" tabindex="0"  type="text" id="posted_by" name="posted_by" placeholder="Enter Your name" required><br>
                </div> -->
                <div class="text-center">
                    <button class="btn btn-primary" tabindex="0" type="submit">Update Mentorship</button>
                </div>
            </form>
        </div>
    </div>  
</div>
{% endblock %}
