<!-- ./templates/edit_job.html -->
{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center text-primary">Edit Job</h2>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <form method="post">
                <div class="mb-3">
                    <label class="form-label" for="title">Title:</label>
                    <input class="form-control" tabindex="0" type="text" id="title" name="title" value="{{ job.title }}" placeholder="Enter Title" required><br>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description:</label>
                    <textarea class="form-control" tabindex="0" id="description" name="description" placeholder="Enter Description" required>{{ job.description }}</textarea><br>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="company">Company:</label>
                    <input class="form-control" tabindex="0" type="text" id="company" name="company" placeholder="Enter Company Name" value="{{ job.company }}" required><br>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location:</label>
                    <input class="form-control" tabindex="0" type="text" id="location" name="location" placeholder="Enter Location" value="{{ job.location }}" required><br>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" tabindex="0" type="submit">Update Job</button>
                </div>
            </form>
        </div>
    </div>  
</div>
{% endblock %}
